@import "tailwindcss";

@theme {
    --color-black-50: #f9fafb;
    --color-black-300: #e5e7eb;
    --color-black-700: #6c727f;
    --color-black-800: #394150;
    --color-blueTheme: #284bce;

    --font-poppins: "Poppins", sans-serif;
}

@layer base {
    * {
        @apply font-poppins max-lg:text-[95%] text-base;
    }

    h1 {
        font-size: 3rem;
    }
}

@layer components {
    .form-shadow {
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
            0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    }
}
